@require '../../styles/common'

.container
  position fixed
  z-index: 1
  top 0
  left 0
  width 100vw
  background alpha($colorBlack, 0.75)
  padding 1rem
  display flex
  flex-direction row
  justify-content space-between

  a
  a:visited
    padding-bottom 0.2rem
    color $colorWhite
    border-color alpha($colorWhite, 0)
  a:hover
  a:active
    background-color transparent
    border-color alpha($colorWhite, 1)
    color $colorWhite

a.title
  border-bottom 0px
  font-weight 700
  text-transform uppercase
  letter-spacing 2px
  display flex
  flex-direction row
  justify-content center
  align-items center
  &:hover
    letter-spacing 4px

.logo
  width 1.5rem
  height 1.5rem
  margin-right 5px
  background-color $colorWhite
  border-radius 1.5rem


.menu
  a
  a:visited
    color $colorGray
    text-transform lowercase
    font-size 0.9rem
    letter-spacing 1px

    &:hover
      letter-spacing 2px

  .desktop
    display block
    +mobile()
      display none
  .mobile
    display none
    +mobile()
      display block
