@import 'rupture'
@require '../../styles/utils'

.container
  position: fixed
  top: 0
  left: 0
  width: 100vw
  background: alpha($colorBlack, 0.7)
  padding: 1rem
  display: flex
  flex-direction: row
  justify-content: space-between

  a
  a:link
    padding-bottom: 0.2rem
    color: $colorWhite
    border-color: alpha($colorWhite, 0)
  a:hover
  a:active
    background-color: transparent
    border-color: alpha($colorWhite, 1)
    color $colorWhite

.menu
  a
  a:link
    color: $colorGray

  .desktop
    display: none
    +desktop()
      display: block
  .mobile
    display: none
    +mobile()
      display: block
    +tablet()
      display: block
