@require '../../styles/common'

.container
  top 0
  left 0
  width 100vw
  background $colorBlack
  padding 2rem
  display flex
  flex-direction row
  justify-content space-between

  a
  a:visited
    color $colorGrayDark
    border-color $colorGrayDark
  a:hover
  a:active
    background-color transparent
    color $colorWhite
    border-color $colorWhite

.right
  span
    vertical-align: middle
    display inline-block
    font-size 0.8rem
    margin-right 0.6rem
    color $colorGrayDark
  ul, li
    vertical-align: middle
    display inline-block
  a
    border none
    vertical-align: middle
    font-size 1.2rem
    color $colorGray
    margin 0 0.3rem

.menu
  font-size 0.8rem
  li
    margin-bottom 1rem

.social
  display block
  li
    display inline-block

.copyright
  margin-top 3rem
  color $colorGrayDark
  font-size 0.6rem
