@require '../../styles/common'

.container
  top 0
  left 0
  width 100vw
  background $colorBlack
  padding 2rem
  display flex
  flex-direction row
  justify-content space-between

  a
  a:visited
    color $colorGrayDark
    border-color $colorGrayDark
  a:hover
  a:active
    background-color transparent
    color $colorWhite
    border-color $colorWhite

.menu
  font-size 0.8rem
  li
    margin-bottom 1rem

.social
  display block
  li
    display inline-block
