@import 'nib'
@import '../styles/common'

global-reset()

*, html
  box-sizing border-box

body
  font-family 'Open Sans', Verdana, sans-serif

a
avisited
  transition all 0.5s ease
  text-decoration none
  background-color transparent
  border-bottom 1px solid $colorPrimary
  color $colorPrimary
ahover
aactive
  background-color $colorPrimary
  color $colorWhite
