@import 'nib'
@import '../styles/utils'

global-reset()

*, html
  box-sizing: border-box

body
  font-family: 'Open Sans', Verdana, sans-serif

a
a:visited
  transition all 0.5s ease
  text-decoration: none
  background-color: transparent
  border-bottom: 1px solid $colorPrimary
  color: $colorPrimary
a:hover
a:active
  background-color: $colorPrimary
  color: $colorWhite
